@using yc_interview.Models.ViewModel
@model CustomerViewModel
<div class="text-center">
    <div class="row">
        <form method="post" action="/Home/CreateData">
            <div class="mb-3 row">
                <label class="col-form-label">ID</label>
                <input type="text" class="form-control" name="CustomerId" />
            </div>
            <div class="mb-3 row">
                <label class="col-form-label">公司名稱</label>
                <input type="text" class="form-control" name="CompanyName" />
            </div>
            <div class="mb-3 row">
                <label class="col-form-label">聯絡人名稱</label>
                <input type="text" class="form-control" name="ContactName" />
            </div>
            <div class="mb-3 row">
                <label class="col-form-label">電話</label>
                <input type="text" class="form-control" name="Phone" />
            </div>

            <button type="submit">新增</button>
        </form>
    </div>
</div>